# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Control.iml
# Datasource local storage ignored files
/../../../../../../../../../:\UnityProjects\Impingement\Assets\Scripts\Control\.idea\.idea.Control.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
